<div class="App">

    <h1 class='main-title'>ShapeShifters</h1>
    <section class='switch-buttons'>
        <div class='switch-buttons-container'>

            <button 
            class="switch-screen" 
            [ngClass]="{ 'active-form': isFormActive }" 
            (click)="isFormActive = true">Sign In</button>

            <button 
            class="switch-screen" 
            [ngClass]="{ 'active-form': !isFormActive }"
            (click)="isFormActive = false">Register</button>

        </div>
    </section>

    <div class="component-container">
        <app-singin *ngIf="isFormActive"></app-singin>
        <app-register *ngIf="!isFormActive"></app-register>
    </div>

</div>