/* You can add global styles to this file, and also import other style files */

/* submit button */
.submit-btn {
    background-color: rgba(46, 204, 113, 1);
    border: none;
    border-radius: 29px;
    width: 65%;
    min-width: 150px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    height: 45px;
}

/*register and sign in input fields*/
.input-fields {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(169, 165, 165, 1);
    background-color: rgba(0, 0, 0, 0);
    width: 65%;
    color: white;
    margin-bottom: 2rem;
}